<!DOCTYPE html>
<html>
  <head>
    <title>Schoolay</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag '/logo.png' %>

  </head>

  <body>
	<%= render :partial => 'layouts/header', :locals => {:date => @date}%>

	<div class="container">
	  <% if notice %>
	    <p class="alert alert-success"><%= notice %></p>
	  <% end %>
	  <% if alert %>
	    <p class="alert alert-danger"><%= alert %></p>
	  <% end %>
	  <%= yield %>
	</div>
</html>
